{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js" integrity="sha256-0YA7ixx4+I4GrLichcjWSQHIUSQiI8ojTDqsK7AZ5zU=" crossorigin="anonymous"></script>
{% endblock head %}

{% block body %}
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', () => {
        socket.send('join');
    });

    socket.on('message', (msg) => {
        print(msg);
    });
</script>
{% endblock body %}
