{% extends "base.html" %}


{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}" charset="utf-8"></script>
<h1 class="mt-3 mb-3">Playing Lobstah "Game"</h1>

<div>
	<h2 class="mb-3">My Information</h2>
	<div class="row mb-2">
		<div class="col">
			Today is: <strong id="day_of_week">Monday</strong>
		</div>
		<div class="col">
			Yesterday's weather: <strong id="yesterday_weather">Good</strong>
		</div>
		<div class="col">
			Consecutive days of bad weather: <strong id="consecutive_bad_weather">0</strong>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Cash</th>
				<th scope="col">Boats</th>
				<th scope="col">Pots</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="my_id">-</td>
				<td id="my_cash">$ -</td>
				<td id="my_boats">-</td>
				<td id="my_pots">-</td>
			</tr>
		</tbody>
	</table>
</div>

<script type='text/javascript' src="{{ url_for('static', filename='game_planning.js') }}"></script>
<div>
	<h2 class="mb-2">Planning</h2>
	<div class="mb-3">
		<form>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="work_choice" id="hotel_radio" onclick="disableFishing()" value="hotel" checked>
				<label class="form-check-label" for="hotel_radio">
					Work at the hotel
				</label>
			</div>

			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="work_choice" id="fish_radio" onclick="enableFishing()" value="fish">
				<label class="form-check-label" for="fish_radio">
					Go fish
				</label>
			</div>

			<div class="form-row mt-2">
				<div class="col">
					<label for="inshore_input">
						Pots inshore
					</label>
					<input class="form-control" type="number" min="0" id="inshore_input" value="0" disabled>
				</div>
				<div class="col">
					<label for="offshore_input">
						Pots offshore
					</label>
					<input class="form-control" type="number" min="0" id="offshore_input" value="0" disabled>
				</div>
			</div>

			<div class="mt-3">
				<button type="button" class="btn btn-primary btn-block" id="submit_plan" onclick="validate_strategy()">Submit</button>
			</div>
		</form>
	</div>
</div>

<div>
	<h2>Commands</h2>
	<button type="button" class="btn btn-info" id="update-btn" onclick="requestInfo()">Update Information</button>
	<button type="button" class="btn btn-danger" id="join-btn" onclick="join()">Join</button>
	<button type="button" class="btn btn-danger" id="restart-btn" onclick="resetGame()">Restart</button>
</div>
{% endblock body %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js" integrity="sha256-0YA7ixx4+I4GrLichcjWSQHIUSQiI8ojTDqsK7AZ5zU=" crossorigin="anonymous"></script>
{% endblock js %}
